@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";


html,body{
 margin: 0;
 padding: 0;  
 overflow-x: hidden;
 font-family: "Space Grotesk", sans-serif;
 background: rgba(2, 6, 23, 0.8);
 color: #f3f4f6;
}

